@model BusinessLayer.SearchStudent

@{
    ViewBag.Title = "ShowCardUsage";
}
<style>
    h2, h6, div {
        font-family: 'Times New Roman', Times, serif;
    }
</style>
<br />
<h2>Search for Particular Card Usage </h2>


@using (Html.BeginForm("ViewCardUsage", "ParticularCardUsage", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h6>Please provide the following information to view card usage</h6>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CardNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CardNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CardNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="View Card Usages" class="btn btn-warning" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
