@model BusinessLayer.HistoryInput

@{
    ViewBag.Title = "ShowHistory";
}

<style>
    h2, h6, div {
        font-family: 'Times New Roman', Times, serif;
    }
</style>
<br />
<h2>History</h2>


@using (Html.BeginForm("ViewHistory", "History", FormMethod.Get))
{
   @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h6>Please provide the following information to view history</h6>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="View History" class="btn btn-warning" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

      $('#StartDate').datepicker();
      $('#EndDate').datepicker();
    </script>
}
